<body>
  <header class="section">
    <div id="header-section">
      <img
        id="logo"
        src="../assets/images/mini/icon.png"
        alt="Il Re Leone - Il Musical"
      />
      <div id="text">
        <h1 class="testo lithos-pro" id="tile-header">IL RE LEONE</h1>
        <h2 class="testo lithos-pro">Il Musical</h2>
      </div>
    </div>
  </header>
  <section class="section">
    <div class="div-blu">
      <h1 id="chisiamo" class="lithos-pro">Chi Siamo</h1>
      <div class="scrittalogo">
        <p id="descrizione">
          Siamo un gruppo di giovani appassionati di recitazione dell'<b
            >Oratorio PerDiQua</b
          >
          di Cerbara, uniti dalla voglia di metterci in gioco e dalla magia del
          teatro. Per dare vita a questo musical, oltre
          <b>130 persone</b> di tutte le età, da piccoli attori a grandi
          artigiani, che hanno collaborato per dare vita a maschere, costumi,
          scenografie e tanto altro!<br />
          <b>Un grande lavoro</b> di squadra che unisce talento, creatività e
          passione! <br />
          <br />
          Reduci da 4 serate <b>SOLD OUT</b> registrate ad Aprile 2025 a Teatro
          degli Illuminati di <b>Città di Castello</b> siamo di nuovo pronti per
          tornare nello stesso palco per altri due spettacoli d'eccezione:
          <br />
          - 25 Ottobre 2025 <br />
          - 26 Ottobre 2025 <br />
          <br />
          Ma la magia non finirà qua! <br />
          - ?? Marzo 2026 <br />
          Ci vediamo al Teatro <b>LYRICK</b> di <b>Assisi</b>
        </p>

        <img
          src="../assets/images/mini/LOGO Oratorio.png"
          alt="Oratorio PerDiQua"
        />
      </div>
      <!-- <button id="btn-crw" type="button" onclick="showCrowdfunding()">
					Scopri il nostro CrowdFunding!
				</button>
				<div class="crowd-div" id="crowdfunding">
					<h1>Sostieni il nostro Progetto</h1>
					<p>
						Aiutaci a realizzare questo sogno sostenendo il nostro
						<b>CROWDFUNDING</b>. Puoi scegliere un pacchetto e
						ricevere uno dei nostri <b>PREMI</b> esclusivi!
					</p>
					<img
						src="./releonehtml/src/assets/crowdd.jpg"
						alt="Crowdfunding Il Re Leone"
					/>
				</div> -->
    </div>
  </section>
  <section class="section">
    <div class="div-giallo">
      <h1 id="prenotazioni" class="lithos-pro">Prenota I Tuoi Biglietti!</h1>
      <div class="div-biglietti-out">
        <div class="div-biglietti-text">
          <!-- <p>
							<b>PRENOTAZIONI AL MOMENTO NON DISPONIBILI!</b>
						</p> -->
          <p id="p1">
            <br />
            In questa sezione potrai prenotare i tuoi biglietti per lo
            spettacolo. <br />
            Una volta cliccato il bottone a fianco segui questi semplici
            passaggi: <br />
          </p>
          <ol>
            <li>Seleziona la <b>Data</b> dello spettacolo di tuo interesse;</li>
            <li>
              Seleziona i posti a sedere che desideri dalla
              <b>Mappa</b> del Teatro;
            </li>
            <li>Seleziona il <b>Tipo</b> di biglietto;</li>
            <li>Inserisci i tuoi dati e... <b>FATTO!</b></li>
          </ol>
          <p id="p2">
            La tua prenotazione è <b>Gratuita</b> e al <b>Sicuro!</b> <br />
            Non c'è niente da pagare al momento.
            <br />
            <br />
            <span id="span1"
              >(Sarai tenuto a pagare al momento della consegna dei
              biglietti)</span
            >
          </p>
        </div>
        <div id="div-biglietti-link">
          <script src="https://billetto.it/widget.js"></script>
          <billetto-widget
            type="event"
            event="1665657"
            organization="billetto.it"
            lang="it"
            theme="light"
            color="#4267b2"
            button-style="rounded"
            font-family="Arial, Helvetica, sans-serif"
            background-color="#ffffff"
          ></billetto-widget>
          <p id="link-evento">
            Se non visualizzi correttamente il pulsante clicca qui:
            <br />
            <a
              href="https://billetto.it/e/il-re-leone-musical-biglietti-1665657"
              target="_blank"
              >Il Re Leone - Prenotazione Biglietti</a
            >
          </p>
        </div>
      </div>
    </div>
  </section>
  <!-- <section class="section">
      <div class="div-rosso">
        <h1 id="photo-gallery" class="lithos-pro">Photo Gallery</h1>
        <div class="photo-container grid">
          <div class="card-container col-6 md:col-3" style="width: 18rem">
            <img
              src="./images/spett/spettacolo-a7r3-mini-11.webp"
              class="card-img-top"
              alt=""
            />
          </div>
          <div class="card-container col-6 md:col-3" style="width: 18rem">
            <img
              src="./images/spett/spettacolo-a7r3-mini-17.webp"
              class="card-img-top"
              alt="Rafiki"
            />
          </div>
          <div class="card-container col-6 md:col-3" style="width: 18rem">
            <img
              src="./images/spett/spettacolo-a7r3-mini-4_1.webp"
              class="card-img-top"
              alt="Rafiki"
            />
          </div>
          <div class="card-container col-6 md:col-3" style="width: 18rem">
            <img
              src="./images/spett/spettacolo-a7r3-mini-7_1.webp"
              class="card-img-top"
              alt="Rafiki"
            />
          </div>
          <div class="card-container col-6 md:col-3" style="width: 18rem">
            <img
              src="./images/spett/spettacolo-a7r3-mini-1.webp"
              class="card-img-top"
              alt="Rafiki"
            />
          </div>
          <div class="card-container col-6 md:col-3" style="width: 18rem">
            <img
              src="./images/spett/spettacolo-a7s3-mini-114.webp"
              class="card-img-top"
              alt="Rafiki"
            />
          </div>
          <div class="card-container col-6 md:col-3" style="width: 18rem">
            <img
              src="./images/spett/spettacolo-a7s3-mini-146.webp"
              class="card-img-top"
              alt="Rafiki"
            />
          </div>
          <div class="card-container col-6 md:col-3" style="width: 18rem">
            <img
              src="./images/spett/spettacolo-a7s3-mini-108.webp"
              class="card-img-top"
              alt="Rafiki"
            />
          </div>
          <div class="card-container col-6 md:col-3" style="width: 18rem">
            <img
              src="./images/spett/spettacolo-a7s3-mini-107.webp"
              class="card-img-top"
              alt="Rafiki"
            />
          </div>
          <div class="card-container col-6 md:col-3" style="width: 18rem">
            <img
              src="./images/spett/spettacolo-a7s3-mini-112.webp"
              class="card-img-top"
              alt="Rafiki"
            />
          </div>
          <div class="card-container col-6 md:col-3" style="width: 18rem">
            <img
              src="./images/spett/spettacolo-a7r3-mini-23.webp"
              class="card-img-top"
              alt="Rafiki"
            />
          </div>
          <div class="card-container col-6 md:col-3" style="width: 18rem">
            <img
              src="./images/spett/spettacolo-a7r3-mini-35.webp"
              class="card-img-top"
              alt="Rafiki"
            />
          </div>
        </div>
      </div>
    </section> -->

  <footer>
    <p>
      &copy; 2025 Il Re Leone CDC - Il Musical, Oratorio PerDiQua, Cerbara.
      Tutti i diritti riservati.<br />
      <a
        href="https://www.instagram.com/ilreleone.cdc/"
        target="_blank"
        aria-label="Instagram"
      >
        ilreleone.cdc
      </a>
    </p>
  </footer>
  <script src="./script.js?v=1.0" defer></script>
</body>
